
%div.bolsa.principal.row.full-screen
    -@tipos.in_groups_of(@gr,false).each do |group|
        %div{class: "col-"+@tam_col.to_s}
            - group.each do |tipo|
                %div.tipo{ :id => tipo}
                    %h3= tipo.capitalize
                    -@productos.productos.each do |pr|
                        - if pr.tipo.eql? tipo
                            %div.producto.row{:id => pr.nombre, :class=>pr.crecimiento}
                                %p.col-7.nombre= pr.nombre
                                %p.col-3.precio= pr.precio_actual.to_s + '€'
                                %p.col-1.estado= pr.estado
                                - if Float(pr.estado).positive?
                                    %i.col-1.fas.fa-arrow-alt-circle-up
                                - else 
                                    %i.col-1.fas.fa-arrow-alt-circle-down
    %div.botones
        %form.minimos#minimos{action: "/bolsa", method:"post"}
            %input{type:"hidden", name:"espera", value:@espera}
            %button{type:"submit", name:"caida", value:true}="Bancarrota"

        %form.reload#reload{action: "/bolsa", method:"post"}
            %input{type:"hidden", name:"espera", value:@espera}
            %button{type:"submit", name:"actualizar", value:true}="Actualizar"

        %form.back#back{action: "/", method:"get"}
            %button{type:"submit"}="Volver"

:javascript
    setInterval(function() {
        $(".reload").submit()
    }, #{@espera});

    document.onkeypress = function(evt) {
        evt = evt || window.event;
        var charCode = evt.keyCode || evt.which;
        console.log(charCode);

        //actualizar (tecla a)
        if (charCode == 97){
            console.log("reload");
            document.getElementById('reload').submit();
        }
        //volver (tecla v)
        else if (charCode == 118){
            console.log("volver");
            document.getElementById('back').submit();
        }
        //precios minimos (tecla m)
        else if (charCode == 109){
            console.log("minimo");
            document.getElementById('minimos').submit();
        }
    };

    