%div#tabla
    - @productos.productos.each do |pr|
        %div.fila.row
            %label.col-6.nombre= pr.nombre
            %label.col-2.tipo= pr.tipo
            %label.col-1.minimo= pr.minimo
            %label.col-1.minimo= pr.maximo
            %label.col-1
                %a{:href=>"/modify/#{pr.id}", class:"fas fa-edit"}
            %label.col-1
                %a{:href=>"/delete/#{pr.id}", class:"fas fa-trash-alt" }